.agentPage {
    text-align: center;
}

.agentList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 80%;
    height: 70vh;
  }
  
  .agentCards {
    margin: auto;
    max-height: 210px;
    min-width: 150px;
    padding: 5px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.1);
    overflow: auto;
    border: 1px solid rgb(187, 187, 187);
    box-shadow: 3px 2px 20px rgba(78, 10, 109, 0.1);
    transition: all 0.3s ease-in-out;
  }
  
  .agentCards:hover {
    cursor: pointer;
    transform: scale(1.03);
  }
  
  .agentName {
    font-family: "Unica One", cursive;
    font-size: 30px;
    color: white;
  }
  
  .agentImage {
    max-width: 100px;
    max-height: 100px;
  }
  