.mapList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 5rem;
  }
  
  .mapCards {
    margin: auto;
    max-height: 400px;
    max-width: 800px;
    margin: 15px;
  }
  
  .mapName {
    font-family: "Unica One", cursive;
    font-size: 35px;
    color: white;
  }
  
  .mapImageContainer {
    max-width: 500px;
  }

  .mapImage {
    width: 100%;
  }

  .mapsPage {
    text-align: center;
  }